/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.site-layout-content {
  background: #fff;
  padding: 24px;
  min-height: 380px;
}

.logo {
/*  width: 200px;
  min-height: 31px;
  margin: 16px 24px 16px 0;
  float: left;
  background-image: url(https://www.honeybadger.io/images/navbar_logo.svg?1602785015);
  background-repeat: no-repeat;*/
}

.table-striped-rows th,
.table-striped-rows td {
  border-bottom: 1px solid #dedddd !important;
}

.table-striped-rows tr:nth-child(2n) td {
  background-color: #fbfbfb;
}

.table-striped-rows thead {
  background-color: #f1f1f1;
}

.bg_primary-color {
  background-color: #FFF;
}

.primary-color {
  background-color: #FFF;
}

.bg_secondary-color {
  background-color: #293241;
}

.secondary-color {
  color: #293241;
}

.custom-button.btn {
  background-color: #293241;
  color: #FFF;
  border: none;
  display: block;
  margin-bottom: 8px;
}

.custom-button.btn:hover {
  color: #FFF !important;
  border: none;
}

.hero {
  width: 100vw;
  height: 50vh;
}

.hero img {
  object-fit:  cover;
  object-position:  top;
  height: 100%;
  width: 100%;
}

.overlay {
  height: 100%;
  width: 100%;
  opacity: 0.4;
}

label {
  display:  inline-block;
  margin-bottom: 8px;
}

input {
  margin-bottom: 32px;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
